<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <script src = "/register.js"></script>
    <title>Edit user</title>
</head>
<body>
    <nav style="margin-bottom: 2vh;" class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Admin page</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/admin">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/reports">Reports</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/manage-packages">Manage Packages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/manage-users">Manage Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/send-email">Send Email</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/showPayments">Show Payments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <a class="Register-text" href="/admin/manage-users/remove-user">Remove user</a>
    <a class="Register-text" href="/admin/manage-users/edit-user">Edit user</a>



    <form action="/editUser" class="form" method="post">
        <h2 class="Register-text">Edit User</h2>
 
    
        <!-- Steps -->
          <div class="input-group">

            <label for="user_id">User Id</label>
            <input type="number" name="user_id" id="user_id" class="user_id" placeholder="" >
    
    
            <label for="email">Email</label>
            <input type="email" name="email" id="email" class="email" placeholder="" >
    
            <br>
    
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="username" placeholder="" >
    
            <br>

            <label for="firstName">First Name</label>
            <input type="text" name="firstName" id="firstName" class="firstName" placeholder="" >
            <br>

            <label for="lastName">Last Name</label>
            <input type="text" name="lastName" id="lastName" class="lastName" placeholder="" >
            <br>
    
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="password" placeholder="" >
    
    
          </div>
         <!-- radio button -->
         <div class="center-div">
            <legend>Role</legend>

            <div>
                <label style="display: inline;" for="isAdmin">Admin</label>
                <input type="radio" name="isAdmin" id="role" value="true" >

            </div>
            <br>
            <div class="inline-content">

                <label style="display: inline;" class="user-label" for="isAdmin">Customer</label>
                <input type="radio" name="isAdmin" id="role" value="false" >

            </div>
        </div>
    
         
    
        <div class="center-div">
            <button class="btn btn-success">submit</button>

        </div>
    
    
      </form>
    
    
 

 


    
    
</body>
</html>
