<div class="main-geust-container">
    <div class="guest-title">
        <h1 class="title">Guest page</h1>
    </div>
    <div class="guest-title">
        <p>you are not logged in</p>
        <button class="card2"> <a style="text-decoration:none;"  href="/login">login</a>
        </button>
        <button class="card2"> <a  style="text-decoration:none;" href="/register">register</a>
        </button>
    </div>

</div>