<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
</head>

<body>
    <p>
        <% if (typeof user !='undefined' ) { %>
            <button>
                <a href="/<%=userInfo.username%>">
                    <%=userInfo.username%>
                </a>
            </button>
            <% } else {%>
                <%- include("./guest.ejs") %>
                    <% } %>
    </p>
</body>

</html>