<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
</head>

<body>
    <% if (typeof user !='undefined' ) { %>
        <p>
            <%=userInfo.username%>
        </p>
        <button>
            <a href="/user-page">wellcome </a>
        </button>
        <a href="/logout">logout</a>
        <% } else {%>
            <%- include("./guest.ejs") %>
                <% } %>

</body>

</html>