:root {

    --yellow-color: #FFC857;
    --dark-yellow-color: #ffbb33;
    --red-color: #c5283d;
    --white-color: #ffffff;
    --light-white-color: #f3f3f3;
    --blue-color: rgb(11, 78, 179);
    --body-color: linear-gradient(219.58deg, #010417 10.26%, #2B333F 84.25%);
}

*,
*::before,
*::after {
    box-sizing: border-box;

}


* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}



/* Global Stylings */
.radio-input {
    display: inline;
}

label {
    /* display: inline; */
    /* margin-bottom: 10px; */
    font-size: 20px;
}


.user-label {
    display: flex;
    margin-bottom: 10px;
}

input,
select {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 1.1rem;
}

button {
    text-align: center;
    margin-top: 1.5em;
    border-radius: 10px;
    border: 0;
    padding: 0.75rem;
    text-decoration: none;
    background-color: var(--yellow-color);
    color: #000000;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}



button:hover {
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--dark-yellow-color);
}

nav {
    background-color: rgba(237, 235, 235, 0.25);
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px;
}

.inline-content {
    display: inline;
    justify-content: center;
    /* center everything */
    align-items: center;
    /* center everything */
    text-align: center;
    /* center everything */

}

nav a,
a {
    display: inline;
    text-decoration: none;
    font-size: 1.9rem;
    color: rgb(255, 255, 255);
    padding: 10px;
}

a {
    color: black;
}

nav li {
    list-style: none;
    display: inline;
}

.navbar-links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}



.profileNav,
.logOutNav {
    display: none;
}



ul {
    list-style: none
}

h2 {
    font-size: 2rem;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 40px;
    margin: auto;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}



/* --------------------------------- logIn ---------------------------------*/
.centerBody {
    font-family: 'Lato', sans-serif;
    margin: 0;
    display: grid;
    place-items: center;
    min-height: 100vh;
    background: linear-gradient(219.58deg, #010417 10.26%, #2B333F 84.25%);
}

.log-in-text {
    text-align: center;
    margin-bottom: 2em;
}

.log-in-button {
    width: 100%;
}

.forgot-password-text {
    margin-top: 1em;
    text-align: end;
    font-size: 12px;
}

.forgot-password-text:hover {
    text-decoration: underline;
}

.formDivider {
    text-align: center;
}

.formDividerText {
    position: relative;
    margin-top: 1em;
    text-align: center;

}

.formDividerText::after {
    content: " ";
    display: block;
    position: absolute;
    height: 2px;
    width: 45%;
    top: 50%;
    left: 0;
    background: var(--light-white-color);
}


.formDividerText::before {
    content: " ";
    display: block;
    position: absolute;
    height: 2px;
    width: 45%;
    top: 50%;
    right: 0;
    background: var(--light-white-color);
}

.need-account {
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
}

.sign-up-text {
    text-decoration: underline;
    font-weight: 700;
}

.signUp {
    color: black;
    font-size: 1rem;
}

.signUp:hover {
    color: var(--red-color);
}

.plans-title {
    margin-top: 2em;
}


/* --------------------------------- register page --------------------------------- */
.Register-text {
    font-weight: 700;
    text-align: center;
}


.form {
    background-color: var(--light-white-color);
}

.width-50 {
    width: 50%;
}

.ml-auto {
    margin-left: auto;
}

.text-center {
    text-align: center;
}

/* Progressbar */
.progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2rem 0 4rem;
}

.progressbar::before,
.progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #000000;
    z-index: -1;
}


/* Form */
.form {
    width: 450px;
    margin: auto;
    margin-top: 3vh;
    margin-bottom: 3vh;
    border: 1px solid #ccc;
    border-radius: 0.35rem;
    padding: 1.5rem;
}

.form-step {
    display: none;
    transform-origin: top;
    animation: animate 0.5s;
}

.form-step-active {
    display: block;
}

.input-group {
    margin: 2rem 0;
}

@keyframes animate {
    from {
        transform: scale(1, 0);
        opacity: 0;
    }

    to {
        transform: scale(1, 1);
        opacity: 1;
    }
}

/* margin to body */
body {
    padding: 1rem;
}

.navBar {
    margin-bottom: 1rem;
}


.signUpButton {
    margin-right: 3em;
}

.main-packges-title {
    text-align: center;
    margin-top: 2em;
}

.table-container {
    margin: 1rem 4rem;
}

.logInButton,
.signUpButton {
    padding: 5px 25px;
    border: 0;
    font-weight: 600;
    margin-left: 2em;
    filter: drop-shadow(0px 5.06977px 5.06977px rgba(0, 0, 0, 0.5));
}



.card2:hover,
.dayCard:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    /* time of animation */
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.previous {
    background-color: #f1f1f1;
    color: black;
}


.round {
    text-align: center;
    font-size: 2rem;
    position: absolute;
    bottom: 72%;
    margin: 2rem;
    border-radius: 50%;
}


.plans-title {
    color: white;

}

.guest-title,

.main-description-container {
    /* display: ; */
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 0 3rem 0 3rem;
}



.main-geust-container,
.description-container {

    width: 90%;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.24) 0%, rgba(0, 0, 0, 0.623) 100%);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
    border-radius: 10px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* gap: 1.5rem; */
    margin: 3rem 3rem 3rem 3rem;
}

.no-packages {
    padding: 1px;
    /* width: 50%; */
    border: #000000 1px solid;
    border-radius: 10px;
    text-align: center;
    font-size: 2rem;
    color: rgb(255, 0, 0);
    margin-top: 2rem;
}

.center-container {
    /* display: flex; */
    border: #000000 1px solid;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 0 3rem 0 3rem;
}

.center-div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 0 3rem 0 3rem;
}

.center-button {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 0 3rem 0 3rem;
}

.button-margin {
    margin: 1rem 0 1rem 0;
}

.some-margin {
    margin: 1rem 3rem 0rem 3rem;
}

.inline-items {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 0 3rem 0 3rem;
}

.main-cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 0 3rem 0 3rem;
}


.cards-container {
    width: 90%;
    margin: auto 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}


.card2 {
    /* backgroud color black and white  gradient */
    background: linear-gradient(120deg, rgba(16, 103, 107, 0.24) 0%, rgba(99, 19, 156, 0.623) 100%);


    /* border: #c5283d 1px solid; */
    border-radius: 50px;
    /* width: 277px;
    height: 277px; */
    margin: 20px;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);

}

.card {
    /* border: #c5283d 1px solid; */
    border-radius: 50px;

    margin: 20px;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);

}

.card-img {
    width: 105%;
    height: 100%;
    margin-bottom: -25px;
    margin-left: -10px;
}

.card:hover {
    cursor: pointer;
}

.card:hover .card-img {
    transform: scale(1.1);
    transition: 0.5s;
}

.card2>p {
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    bottom: 60px;
    margin: auto;

    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    color: var(--yellow-color);
    margin: 1em;
}

.card-title {
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: auto;

    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    color: var(--white-color);
    margin: 1em;
}

@media (max-width: 1090px) {

    .websiteName {
        margin-bottom: 50px;
        text-align: center;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 0;
    }

    .toggle-button {
        display: flex;
    }

    .dropdown {
        display: none;
    }

    .profileNav,
    .logOutNav {
        display: contents;
    }



}